*.tmp
3_Documentazione/~$cumentazione Butler.docx
3_Documentazione/~$cumentazione Butler extensions.docx
4_Diari/20/~$21_05_20_Zinetti_Filippo_diario_di_lavoro.docx
4_Diari/20/~$21_05_18_Zinetti_Filippo_diario_di_lavoro.docx
4_Diari/21/~$21_05_25_Zinetti_Filippo_diario_di_lavoro.docx
